
extends layout

block head
  title Kapten Röd

block content
  .text
    p
      | Welcome to my site about all the important things in
      | life. This page contains some important reading for
      | any concerd citizen.
    .quote
      p Information is freedom
    p(style='text-align: right;')
      | - Kapten Röd
  .media
    h1 Loose Change 911: An American Coup
    section
      img(src='/img/cover-loose-change.jpg')
      p
        | Loose Change sets out to prove the official
        | story of 9/11 - 'that the impact of two planes flying
        | into two World Trade Center towers and the resulting
        | fires caused three World Trade Center steel framed
        | buildings to collapse' is false. Using witness testimony,
        | expert analysis, news footage, and corroborating evidence
        | this film is the most explosive and important film of
        | the decade.
      p.read-more
        a(href='http://www.loosechange911.com/about-the-film/an-american-coup/') Read more
  .media.chariots-of-the-gods
    h1 Chariots of the Gods
    section
      img(src='/img/cover-chariots-of-the-gods.jpg')
      p
        | Erich von Däniken's Chariots of the Gods is a work of
        | monumental importance — the first book to introduce the
        | shocking theory that ancient Earth had been visited by
        | aliens. This world-famous bestseller has withstood the
        | test of time, inspiring countless books and films, including
        | the author's own popular sequel, The Eyes of the Sphinx.
        | But here is where it all began — von Däniken's startling
        | theories of our earliest encounters with alien worlds, based
        | upon his lifelong studies of ancient ruins, lost cities,
        | potential spaceports, and a myriad of hard scientific facts
        | that point to extraterrestrial intervention in human history.
      p.read-more
        a(href='http://www.barnesandnoble.com/w/chariots-of-the-gods-erich-von-daniken/1100623100?ean=9780425166802') Read more
  .media
    h1 Business Insider's list of actual conspiracies
    section
      p
        | We all know the conspiracy theories — the government's plan for
        | 911, the second gunman who shot JFK, the evolution of the elite
        | from a race of blood-drinking, shape-shifting lizards.
      p
        | But the people who spread these ideas usually can't prove them.
      p
        | As the years pass, however, secrets surface. Government documents
        | become declassified. We now have evidence of certain elaborate
        | government schemes right here in the U.S. of A.
      p.read-more
        a(href='http://www.businessinsider.com/true-government-conspiracies-2013-12') Read more
